#box1{
    width: 250px;
    height: 250px;
    background-color: brown;
    font-size: 75px;
    text-align: center;
/*
    animation: mySlide;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-timing-function: linear;
*/
    animation: 5s linear 0s infinite running rotate;



}
#box1:hover{
/*
    animation: 10s linear 0s infinite running mySlide;
*/
}
#box1:active{

}

@keyframes mySlide{
    from{margin-left: 0%;}
    to{margin-left: 100%;}
}

@keyframes rotate{
    /*100%{transform: rotateX(360deg)}*/
    100%{transform: rotateY(360deg)}
    /*100%{transform: rotateZ(360deg)}*/
}

@keyframes iliuzija{
    50%{opacity: 0}
}

@keyframes dydis{
    50%{transform: scale(0.5, 0.5)}
}

@keyframes spalvos_keitimas{
    0%{background-color: red;}
    20%{background-color: orange;}
    40%{background-color: yellow;}
    60%{background-color: green;}
    80%{background-color: blue;}
    100%{background-color: purple;}
}
